@import "tailwindcss";

@theme {
    --breakpoint-ex: 280px;
    --breakpoint-ss: 300px;
    --breakpoint-dd: 312px;
    --breakpoint-mm: 343px;
    --breakpoint-gg: 351px;
    --breakpoint-ll: 432px;
    --breakpoint-xx: 522px;
    /* --breakpoint-2xl: 100rem;
    --breakpoint-3xl: 120rem; */
  }

  @theme {
    --color-wheat: #f0dcb9;
    /* --color-tahiti: #3ab7bf;
    --color-bermuda: #78dcca; */
  }

.slick-slide > div {
    margin: 0 10px;
}